# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env
.env.*

# =========================
# Vendor / Proprietary SDK
# =========================
*.dll
*.so
*.lib

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs & Runtime files
# =========================
*.log

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Temporary / Misc
# =========================
*.tmp
*.bak

